/* (c) tkon99 - tkon99.me */

body{
	background-color: black;
	color: white;
}

#background{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
    z-index: -999;

    cursor: none;
}

#title{
	position: absolute;
	right: 10px;
	bottom: .25em;
	font-size: 10em;
}

.center{
	width: 100%;
	text-align: center;
}

#gofull .center h3{
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
}

#subtitle{
	position: absolute;
	right: 10px;
	bottom: 0px;
	color: black;
}

#subtitle a{
	color: black;
}

#gofull, #app{
	background-color: black;
	min-width: 100%;
	min-height: 100vh;
}

#gofull{
	z-index: 999;
}

#app{
	z-index: 500;
}